<!DOCTYPE html> 
<html>
    <head>
        <style>
           .homepage {
                
    background-color:salmon;
    text-align: center;
    height:1600px;
    width:2560px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
            }
            .page2 {
                
    background: url("http://media2.s-nbcnews.com/j/msnbc/components/video/201611/tdy_jackson_trump_161117.nbcnews-ux-1080-600.jpg") no-repeat center center fixed;
    text-align: center;
    height:1600px;
    width:2560px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
            }
  .page1button {
    text-align: center;
    padding-top: 2%;
     
     
  }
   
            
        </style>
    <title>
        Insert Title Here
    </title> 
    <link rel="stylesheet" href="style.css"
    </head>
   <div class="homepage">
       <body>
           <div class="page1button">
       <Button><a href="page2.html">Make America Great Again</a> </Button> 
      
    </body>
   </div> 
    </html>
