<!DOCTYPE html> 
<html>
    <head>
        <style>
            
            
        </style>
    <title>
        Insert Title Here
    </title> 
    <link rel="stylesheet" href="style.css"
    </head>
   <div class="page2">
       <body>
          <div class="page1button" 
<Button><a href="index.html">Page 1</a> </Button> 
    </body>
   </div> 
    </html>